<div class="navbar">
    <div class="header__button back-button back-button_color_light">
        <svg class="back-button__icon"><use xlink:href="#icon_back-arrow"></use></svg>
    </div>
    <h1 class="header__h">Наши страницы в интернете</h1>
</div>
<div class="content">
    <div class="page-content page-content_about">
        <div class="page-panel">
            <a href="https://www.alfastrahoms.ru/" target="_system" class="about__link">
                <img src="./img/police-logo-red.png" width="40">
                <br>
                www.alfastrahoms.ru
            </a>
            <div>Перейти на сайт компании</div>
            <div class="about-social">Мы в социальных сетях:</div>
            <div class="about-social-list">
                <a href="https://vk.com/alfastrahoms" target="_system" class="social__link">
                    <svg class="social__icon"><use xlink:href="#icon_vk"></use></svg>
                </a>
                <a href="https://www.facebook.com/alfastrahoms/" target="_system" class="social__link">
                    <svg class="social__icon"><use xlink:href="#icon_fb"></use></svg>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="toolbar">
    Подвал
</div>
