<div class="navbar header_white">
    <div class="header__button nav-button">
        <div class="nav-button__body">
            <div class="nav-button__i nav-button__i_top"></div>
            <div class="nav-button__i nav-button__i_middle"></div>
            <div class="nav-button__i nav-button__i_bottom"></div>
        </div>
    </div>
    <h1 class="header__h">АльфаСтрахование–ОМС</h1>
</div>
<div class="content">
    <div class="page-content page-content_main">
        <div class="page-wrap">
            <!-- тут генерируется меню -->
            <nav class="main-nav" id="nav"></nav>
        </div>
        <!-- статичная часть страницы -->
        <div class="main-meta">
            <div class="meta-button">
                <a id="mainSelectRegion" href="#" class="meta-button__link">
                    <svg class="icon__meta"><use xlink:href="#icon_location"></use></svg>
                    Мой регион
                </a>
                <a id="mainSOS" href="#" class="meta-button__link">
                    <span class="button__sos">
                        <svg class="icon__tetka"><use xlink:href="#icon_tetka-phone-white"></use></svg>
                    </span>
                    <div style="margin-top:10px">Мой страховой<br>представитель</div>
                </a>
                <a id="mainAbout" href="#" class="meta-button__link">
                    <svg class="icon__meta"><use xlink:href="#icon_contacts"></use></svg>
                    Задать вопрос
                </a>
            </div>
        </div>
    </div>
</div>
<div class="toolbar"></div>
