<div class="navbar">
    <div class="header__button back-button back-button_color_light">
        <svg class="back-button__icon"><use xlink:href="#icon_back-arrow"></use></svg>
    </div>
</div>
<div class="content">
    <div class="page-content page-content_sos">
        <div class="sos-phone">
            <a id="sosPhone" href="tel:+78005550108" class="sos-phone__link">
                <i class="circle circle_1"></i>
                <i class="circle circle_2"></i>
                <i class="circle circle_3"></i>
                <!--<i class="circle circle_4"></i>-->
                <svg class="sos-phone__icon"><use xlink:href="#icon_tetka-phone"></use></svg>
            </a>
        </div>
        <div class="sos-text">
            <h1 class="sos-text__title">Нажмите для звонка</h1>
            <div>Круглосуточная бесплатная горячая линия <br>для связи с представителем <br>страховой компании</div>
            <br>
            <br>
            <br>
            <div>Связаться со страховой компанией в случае <br>возникновения вопросов во время оказания <br>медицинских услуг в системе ОМС</div>
        </div>
    </div>
</div>
<div class="toolbar"></div>
